.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 100;
}

h1 {
  font-family: "Kulim Park", sans-serif;
  color: #FAF7EF;
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 54px;
  letter-spacing: -0.3px;
}


.navbar {
  position: absolute;
  color: #ffffff;
  left: 10%;
  right: 10%;
  top: 8%;
  padding: 8px 0;
  border-radius: 30px;
  overflow: hidden;
  align-items: center;
  box-shadow: 0px 8px 20px 4px rgba(0, 0, 0, 0.429);
  background: linear-gradient(
    90deg,
    #003631,
    #005a54,
    #00786e,
    #005a54,
    #003631
  );
  display: flex;
  justify-content: space-between;
  height: 80px;
  opacity: 1;
  transform: translateY(0);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
  overflow: hidden;
  font-family: roboto;
  font-size: small;
}

.back-icon {
  width: 36px;
  height: 32px;
  object-fit: contain;
  filter: invert(1);
}

.logo-nav {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: -10px;
}


.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.date1,
.time1 {
  font-family: "Kulim Park", sans-serif;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #005048;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-variant-numeric: tabular-nums;
}

.date,
.time {
  font-family: "Kulim Park", sans-serif;
  border-radius: 500px;
  background-color: #f0f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 4px 40px;
  min-width: fit-content;
}
